mne==1.12.1
numpy==2.5.0
scipy==1.18.0
scikit-learn==1.9.0
pyriemann==0.11
fastapi==0.138.1
uvicorn==0.49.0
streamlit==1.58.0
torch==2.11.0
pytorch-lightning==2.6.5
plotly==6.8.0
matplotlib==3.11.0
joblib==1.5.3
onnx==1.22.0
onnxruntime==1.23.2
websockets==16.0
pyyaml==6.0.3
pandas==3.0.4
pydantic==2.13.4
braindecode==1.5.2
moabb==1.5.0
websocket-client==1.9.0
httpx==0.28.1
httpx2==2.5.0
onnxscript==0.7.0
